@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Quản lí mọi <a href="https://localhost:7198/GiangVien"> thông tin</a> ,  <a href="https://localhost:7198/DeTai"> đề tài</a> mà bạn đã <a href="https://localhost:7198/ThamGia"> tham gia </a> .</p>
</div>
