@page
@model AppQLKH.Pages.GiangVien.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GiangVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GiangVien.MaGV" class="control-label"></label>
                <input asp-for="GiangVien.MaGV" class="form-control" />
                <span asp-validation-for="GiangVien.MaGV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiangVien.HoTen" class="control-label"></label>
                <input asp-for="GiangVien.HoTen" class="form-control" />
                <span asp-validation-for="GiangVien.HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiangVien.DiaChi" class="control-label"></label>
                <input asp-for="GiangVien.DiaChi" class="form-control" />
                <span asp-validation-for="GiangVien.DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiangVien.NgaySinh" class="control-label"></label>
                <input asp-for="GiangVien.NgaySinh" class="form-control" />
                <span asp-validation-for="GiangVien.NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
